[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = false
name = "pytorch"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
ipykernel = "*"
tqdm = "*"
ipywidgets = "*"
jupyterlab-git = "*"
jupyterlab-code-formatter = "*"
redis = "*"
torch = {version = "*", index = "pytorch"}

[dev-packages]

[requires]
python_version = "3.9"
